<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyMoodle</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style_index.css">
    <script src="../js/notification.js"></script>
    <script src="../js/index.js"></script>
</head>
<header>
    <div class="logo">
        <a href="index.html">
            <img src="../static/logo_UTBM_blanc.png" alt="MyMoodle">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="myCourses.html">Mes cours</a></li>
            <li><a href="#">Recherche de cours</a></li>
        </ul>
    </div>
    <div class="user">
        <ul>
            <li><a href="#"><ion-icon name="notifications-outline"></ion-icon></a></li>
            <li><a href="profil.html"><ion-icon name="person-circle-outline"></ion-icon></a></li>
        </ul>
    </div>
</header>
<body>
    <div class="content">
        <div class="container">
            <div class="cards-wrapper">
                <div class="card-arrows">
                    <button class="arrow left" id="arrowLeft"><ion-icon name="chevron-back-outline"></ion-icon></button>
                    <button class="arrow right" id="arrowRight"><ion-icon name="chevron-forward-outline"></ion-icon></button>
                </div>
                
                <div class="cards-container" id="scrollContainer">
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="progress-container">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
            </div>
            
           
            
            
            


            <div class="search">
                <input type="text" placeholder="Rechercher un cours">
                <button><ion-icon name="search-outline"></ion-icon></button>
            </div>
        </div>
    </div>
    <div id="notificationPanel" class="notification-panel">
        <div class="notification-header">
            <h2>Notifications</h2>
            <span class="close-btn" id="closeNotificationPanel">&times;</span>
        </div>
        <div class="notification-content">
            <div class="notification-item important">
                <p>Notification importante</p>
                <span class="delete-btn">&times;</span>
            </div>
            <div class="notification-item warning">
                <p>Notification d'avertissement</p>
                <span class="delete-btn">&times;</span>
            </div>
            <div class="notification-item info">
                <p>Notification d'information</p>
                <span class="delete-btn">&times;</span>
            </div>
        </div>
    </div>
</body>
</html>