<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyMoodle</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/style_index.css">
    <script src="../js/notification.js"></script>
    <script src="../js/index.js"></script>
</head>

<body>

    <!-- Header pareil pour toutes les pages -->
    <div id="header-container"></div>
    <script>
        fetch('header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header-container').innerHTML = data;
            });
    </script>

    <div class="content">
        <div class="container">
            <div class="cards-wrapper">
                <div class="card-arrows">
                    <button class="arrow left" id="arrowLeft"><ion-icon name="chevron-back-outline"></ion-icon></button>
                    <button class="arrow right" id="arrowRight"><ion-icon name="chevron-forward-outline"></ion-icon></button>
                </div>
                
                <div class="cards-container" id="scrollContainer">
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/images/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/images/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/images/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/images/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/images/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                    <a href="UE_content.php">
                        <div class="card">
                            <img src="../static/images/image_logo.png" alt="Card Logo" class="card__image">
                            <div class="card__content">
                                <p class="card__title">UE</p>
                                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="progress-container">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
            </div>


            <hr class="separator">


            <h2 class="section-title">Notifications importantes</h2>

            <div class="info-container">
              <div class="info-item important">
                <div class="info-content">
                  <div class="info-title">INFO IMPORTANTE</div>
                  <div class="info-description">Ceci est une information très importante à lire.</div>
                </div>
                <div class="menu-container">
                  <span class="menu-dots">⋮</span>
                  <div class="menu-popup">
                    <p>✅ Marqué comme lu</p>
                  </div>
                </div>
              </div>
            
              <div class="info-item warning">
                <div class="info-content">
                  <div class="info-title">INFO D'AVERTISSEMENT</div>
                  <div class="info-description">Faites attention à cette alerte importante.</div>
                </div>
                <div class="menu-container">
                  <span class="menu-dots">⋮</span>
                  <div class="menu-popup">
                    <p>✅ Marqué comme lu</p>
                  </div>
                </div>
              </div>
            
              <div class="info-item info">
                <div class="info-content">
                  <div class="info-title">INFO D'INFORMATION</div>
                  <div class="info-description">Juste une information générale à connaître.</div>
                </div>
                <div class="menu-container">
                  <span class="menu-dots">⋮</span>
                  <div class="menu-popup">
                    <p>✅ Marqué comme lu</p>
                  </div>
                </div>
              </div>
            </div>
            
            

            <div class="search">
                <input type="text" placeholder="Rechercher un cours">
                <button><ion-icon name="search-outline"></ion-icon></button>
            </div>
        </div>
    </div>
    <div id="notificationPanel" class="notification-panel">
        <div class="notification-header">
            <h2>Notifications</h2>
            <span class="close-btn" id="closeNotificationPanel">&times;</span>
        </div>
        <div class="notification-content">
            <div class="notification-item important">
                <p>Notification importante</p>
                <span class="delete-btn">&times;</span>
            </div>
            <div class="notification-item warning">
                <p>Notification d'avertissement</p>
                <span class="delete-btn">&times;</span>
            </div>
            <div class="notification-item info">
                <p>Notification d'information</p>
                <span class="delete-btn">&times;</span>
            </div>
        </div>
    </div>
</body>
</html>