<html>
<head>
    <title>MyMoodle</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<header>
    <div class="logo">
        <a href="index.html">
            <img src="../static/logo_UTBM_blanc.png" alt="MyMoodle">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="dashboard.html">Tableau de bord</a></li>
            <li><a href="myCourses.html">Mes cours</a></li>
            <li><a href="#">Recherche de cours</a></li>
            <li><a href="#">Sites UTBM</a></li>
            <li><a href="#">Semestre à l'UTBM</a></li>
            <li><a href="#">Stage/SEE</a></li>
        </ul>
    </div>
    <div class="user">
        <ul>
            <li><a href="#"><ion-icon name="notifications-outline"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="chatbubble-outline"></ion-icon></a></li>
            <li><a href="profil.html"><ion-icon name="person-circle-outline"></ion-icon></a></li>
        </ul>
    </div>
</header>
<body>
    <div class="content">
        <div class="container">
            <h1>Plateforme Pédagogique UTBM</h1>
            <div class="course-content">
                <div class="grid1">
                    <h2>Bienvenue à tous et toutes pour la rentrée de printemps 2025.</h2>
                    <h4>L'équipe Moodle se tient à votre disposition pour faciliter votre travail sur la plateforme. Nous vous souhaitons un excellent semestre riche en apprentissages. En cas de difficulté technique, nous vous invitons à contacter l'adresse:</h4>
                    <h4><a href="mailto:ingenierie.pedagogique@utbm.fr"><em>ingenierie.pedagogique@utbm.fr</em></a></h4>
                </div>
                <div class="grid2">
                    <div class="grid2-1">
                        <a href="#">
                            <img src="../static/grid2_1.jpg" alt="UTBM">
                            <h3>Nouveautés Moodle</h3>
                        </a>
                    </div>
                    <div class="grid2-2">
                        <a href="#">
                            <img src="../static/grid2_2.jpg" alt="UTBM">
                            <h3>Découvrir l'UTBM</h3>
                        </a>
                    </div>
                    <div class="grid2-3">
                        <a href="#">
                            <img src="../static/grid2_3.png" alt="UTBM">
                            <h3>Pix à l'UTBM</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="search">
                <input type="text" placeholder="Rechercher un cours">
                <button><ion-icon name="search-outline"></ion-icon></button>
            </div>
        </div>
    </div>
</body>
</html>