<html>
<head>
    <title>Mes Cours</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const courseContainer = document.querySelector('.cours');
            const paginationContainer = document.querySelector('.pagination');
            let itemsPerPage = 6; // Nombre de cours à afficher par défaut
            let currentPage = 1;
            let courses = [];
    
            function generateCourses(numberOfCourses) {
                for (let i = 0; i < numberOfCourses; i++) {
                    const randomImageNumber = Math.floor(Math.random() * 5) + 1; // Génère un nombre aléatoire entre 1 et 5
                    const courseElement = document.createElement('div');
                    courseElement.classList.add('case-cours');
                    courseElement.innerHTML = `
                        <a href="course.html">
                            <div class="course-image">
                                <img src="../static/image_cours${randomImageNumber}.jpg" alt="Course Image">
                            </div>
                            <div class="course-title">
                                <p>Titre du cours</p>
                            </div>
                        </a>
                    `;
                    courses.push(courseElement);
                }
            }
    
            function displayCourses(page, itemsPerPage) {
                courseContainer.innerHTML = '';
                const start = (page - 1) * itemsPerPage;
                const end = start + itemsPerPage;
                const paginatedCourses = courses.slice(start, end);
                paginatedCourses.forEach(course => courseContainer.appendChild(course));
            }
    
            function updatePagination() {
                paginationContainer.innerHTML = '';
                const totalPages = Math.ceil(courses.length / itemsPerPage);
    
                const prevButton = document.createElement('button');
                prevButton.classList.add('btn-pagination');
                prevButton.innerHTML = '<ion-icon name="caret-back-outline"></ion-icon>';
                prevButton.addEventListener('click', () => {
                    if (currentPage > 1) {
                        currentPage--;
                        displayCourses(currentPage, itemsPerPage);
                    }
                });
                paginationContainer.appendChild(prevButton);
    
                const nextButton = document.createElement('button');
                nextButton.classList.add('btn-pagination');
                nextButton.innerHTML = '<ion-icon name="caret-forward-outline"></ion-icon>';
                nextButton.addEventListener('click', () => {
                    if (currentPage < totalPages) {
                        currentPage++;
                        displayCourses(currentPage, itemsPerPage);
                    }
                });
                paginationContainer.appendChild(nextButton);
            }
    
            generateCourses(15); // Changez ce nombre pour générer plus ou moins de cours
            displayCourses(currentPage, itemsPerPage);
            updatePagination();
    
            // Gestion du changement du nombre de cours à afficher
            document.querySelectorAll('.tri-cours-5 .dropdown-item').forEach(item => {
                item.addEventListener('click', (event) => {
                    const selectedOption = event.target.textContent;
                    if (selectedOption.toLowerCase() === 'tous') {
                        itemsPerPage = courses.length; // Afficher tous les cours
                    } else {
                        itemsPerPage = parseInt(selectedOption);
                    }
                    // Afficher l'item cliqué avec l'icône
                    document.querySelector('.tri-cours-5 button').innerHTML = `Nombre de cours : ${selectedOption} <ion-icon name="caret-down-outline"></ion-icon>`;

                    currentPage = 1;
                    displayCourses(currentPage, itemsPerPage);
                    updatePagination();
                });
            });
    
            // Gestion du changement de mode d'affichage
            document.querySelectorAll('.tri-cours-4 .dropdown-item').forEach(item => {
                item.addEventListener('click', (event) => {
                    const mode = event.target.textContent.toLowerCase();
                    if (mode === 'carte') {
                        courseContainer.classList.add('carte-mode');
                        courseContainer.classList.remove('list-mode');
                        document.querySelector('.tri-cours-4 button').innerHTML = `Carte <ion-icon name="caret-down-outline"></ion-icon>`;
                    } else if (mode === 'liste') {
                        courseContainer.classList.add('list-mode');
                        courseContainer.classList.remove('carte-mode');
                        document.querySelector('.tri-cours-4 button').innerHTML = `Liste <ion-icon name="caret-down-outline"></ion-icon>`;
                        
                    }
                });
            });
        });
    </script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="../static/logo_UTBM_blanc.png" alt="MyMoodle">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="dashboard.html">Tableau de bord</a></li>
                <li><a href="myCourses.html" class="active">Mes cours</a></li>
                <li><a href="#">Recherche de cours</a></li>
                <li><a href="#">Sites UTBM</a></li>
                <li><a href="#">Semestre à l'UTBM</a></li>
                <li><a href="#">Stage/SEE</a></li>
            </ul>
        </div>
        <div class="user">
            <ul>
                <li><a href="#"><ion-icon name="notifications-outline"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="chatbubble-outline"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="person-circle-outline"></ion-icon></a></li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <h1>Mes cours</h1>
            <div class="liste-cours">
                <h2>Vue d'ensemble des cours</h2>
                <div class="ligne-gris"></div>
                <div class="tri-course">
                    <div class="liste-tri-cours">
                        <div class="tri-cours-1">
                            <button class="btn-tri-cours">Tout <ion-icon name="caret-down-outline"></ion-icon></button>
                            <ul class="dropdown">
                                <li><a href="#" class="dropdown-item">Tout</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item">En cours</a></li>
                                <li><a href="#" class="dropdown-item">A venir</a></li>
                                <li><a href="#" class="dropdown-item">Passés</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item">Favoris</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item">Retirés de l'affichage</a></li>
                            </ul>
                        </div>
                        <div class="tri-cours-2">
                            <input type="text" placeholder="Rechercher">
                        </div>
                        <div class="tri-cours-3">
                            <button class="btn-tri-cours">Trier par nom de cours <ion-icon name="caret-down-outline"></ion-icon></button>
                            <ul class="dropdown">
                                <li><a href="#" class="dropdown-item">Trier par nom de cours</a></li>
                                <li><a href="#" class="dropdown-item">Trier par dernier accès</a></li>  
                            </ul>
                        </div>
                        <div class="tri-cours-4">
                            <button class="btn-tri-cours">Carte <ion-icon name="caret-down-outline"></ion-icon></button>
                            <ul class="dropdown">
                                <li><a href="#" class="dropdown-item">Carte</a></li>
                                <li><a href="#" class="dropdown-item">Liste</a></li>
                                <li><a href="#" class="dropdown-item">Résumé</a></li>
                            </ul>
                        </div>
                        <div class="tri-cours-5">
                            <button class="btn-tri-cours">Nombre de cours : 6 <ion-icon name="caret-down-outline"></ion-icon></button>
                            <ul class="dropdown">
                                <li><a href="#" class="dropdown-item">6</a></li>
                                <li><a href="#" class="dropdown-item">12</a></li>
                                <li><a href="#" class="dropdown-item">18</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item">Tous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cours carte-mode">
                    <!-- Les cours seront générés ici par JavaScript -->
                </div>
                <div class="pagination">
                    <!-- Les boutons de pagination seront générés ici par JavaScript -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>