{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/adminModif.js') }}"></script>
{% endblock %}

{% block body %}
<body>
    <div class="content">
        <div class="container">
            <h1>Page Admin</h1>
            <div class="selection">
                {# Ton contenu de sélection ici #}
            </div>
            <div class="content-display">
                {# Ton affichage dynamique ici #}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="modal-title"></h2>
            <div id="modal-content"></div>
        </div>
    </div>
</body>
{% endblock %}
