.selection {
    align-self: flex-start;
    display: flex;
    margin-bottom: 20px;
}

.btn-selection {
    padding: 10px 20px;
    background-color: #cccccc;
    color: white;
    border: none;
    cursor: not-allowed;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.btn-enabled:hover {
    background-color: #005f8a;
}

.btn-enabled {
    background-color: #007BC0;
    cursor: pointer;
}

.content-display {
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
}

.btn-action {
    padding: 5px 10px;
    background-color: #007BC0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.btn-action:hover {
    background-color: #005f8a;
}

.btn-create {
    padding: 10px 15px;
    background-color: #04a346;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.btn-create:hover {
    background-color: #028b3b;
}

.btn-delete {
    background-color: #e74c3c;
}

.btn-delete:hover {
    background-color: #c0392b;
}

.content-display ul {
    list-style-type: none; /* Enlever les points */
    padding-left: 30px; /* Garder l'indentation */
    margin-top: 40px;
}

.content-display h2 {
    padding-left: 20px;
}

.content-display ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.content-display ul li:last-child {
    border-bottom: none; 
}

.content-display ul li span {
    margin: 0;
    padding: 0;
    text-align: left;

}


.content-display .item-name, .content-display .item-first_name, .content-display .item-role, .content-display .item-departement {
    display: inline-block;
    margin-right: 20px;
}

.content-display .item-code, .content-display .item-libelle {
    display: inline-block;
    margin-right: 20px;
}

.content-display ul li span.libelle {
    grid-column: 2; /* Assure l'alignement horizontal parfait pour la colonne Libelle */
}

.content-display .btn-action, .content-display .btn-delete {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.content-display .btn-action {
    right: 100px; 
}

.content-display .btn-delete {
    right: 10px;
}

.content-display .btn-create {
    position: absolute;
    top: 30px;
    right: 10px; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-answer {
    padding: 6px 15px;
    background-color: #007BC0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.1s ease;
}

.btn-cancel {
    background-color: #e74c3c;
    color: white;
}

.btn-confirm:hover {
    background-color: #005f8a;
}

.btn-cancel:hover {
    background-color: #c0392b;
}

.modal-content input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-remove {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #e74c3c; /* Rouge pour alerte */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease;
}

.btn-remove:hover {
    background-color: #c0392b;
}

.btn-add {
    background-color: #04a346;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.2s ease;
}

.btn-add:hover {
    background-color: #028b3b;
}

ul#ue-list, ul {
    list-style-type: none; /* Suppression des puces */
    margin: 0;
    padding: 0;
}

ul#ue-list li {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul#ue-list li:last-child {
    border-bottom: none;
}


.item-inscription {
    font-size: 16px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    word-break: break-word; /* Prévenir les dépassements si le texte est trop long */
}

#edit-description, #new-description {
    width: 100%;
    height: 100px;
    text-align: left;
    vertical-align: top;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
}

.inscription-select {
    width: 90%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; /* Couleur de fond légère */
    font-size: 16px;
    color: #333;
    appearance: none; /* Supprime l'apparence par défaut */
    cursor: pointer;
    text-align: center;
}

.role-select {
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; /* Couleur de fond légère */
    font-size: 16px;
    color: #333;
    appearance: none; /* Supprime l'apparence par défaut */
    cursor: pointer;
}