{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/recherche.css') }}">
{% endblock %}

{% block body %}
    <!-- Modal (fenêtre pop-up) cachée par défaut, s'affiche lorsqu'un cours est cliqué -->
    <div id="ueModal" class="modal" style="display: none;">
        <div class="modal-content">
            <div class="image">
                <span id="modalClose">&times;</span>
                <div class="titre">
                    <h1 id="modalCode"></h1>
                </div>
            </div>
            <h2 id="modalTitle"></h2>
            <div id="modalDescription">
                <p id="modalDescription"></p>
            </div>
        </div>
    </div>

    <div class="content-display">

        <!-- Barre de recherche -->
        <div class="search">
            <input type="text" id="searchInput" placeholder="Rechercher un cours">
            <button id="searchButton"><ion-icon name="search-outline"></ion-icon></button>
        </div>

        <!-- Tableau affichant les cours trouvés dynamiquement par JS -->
        <table id="coursesTable">
            <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Description</th>
                <th></th> <!-- Colonne vide (ex: bouton "voir plus") -->
            </tr>
            </thead>
            <tbody>
                <!-- Le contenu du tableau est rempli dynamiquement via JavaScript -->
                <script src="{{ asset('js/find.js') }}"></script> <!-- Script JS chargé ici -->
            </tbody>

        </table>
    </div>


{% endblock %}