/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Barre de navigation */
.navbar {
    background: linear-gradient(to right, white, #007bff); /* Dégradé blanc vers bleu */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;
    position: relative;
}

/* Ajout du motif en carré */
.navbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 1px 1px; /* Pixels plus petits */
    background-position: 0 0, 5px 5px;
    pointer-events: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.navbar a:not(.logo a):hover {
    background-color: #0056b3;
    border-radius: 5px;
    transform: translateY(-5px);
}

.logo img {
    height: 50px;
    border-radius: 10px; /* Arrondi des angles */
    transition: transform 0.3s ease-in-out;
}

.logo a:hover img {
    background-color: #ffffff;
    border-radius: 10px;
    transform: translateY(-5px); /* Faire monter l'image légèrement */
}

/* Conteneur principal */
.container {
    text-align: center;
    margin-top: 50px;
}

.container h1 {
    color: #333;
}

.container p {
    color: #555;
    font-size: 18px;
}

/* Bouton déconnexion */
.logout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #c82333;
}
